<%- include('./header.ejs')  %>
<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><span class="icon flaticon-close-1"></span></div>
    
    <nav class="menu-box">
        <div class="nav-logo"><a href="index.html"><img src="assets/images/logo.svg" alt="" title=""></a></div>
        <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
    </nav>
</div>
<!-- End Mobile Menu -->

</header>
<!-- End Main Header -->

<!-- Page Title -->
<section class="page-title" style="	background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/028/788/small_2x/urban-view-with-white-skyscrapers-the-city-background-concept-3d-rendering-free-photo.jpg);
	background-size: cover;">
<div class="page-title_cloud" style="background-image:url(assets/images/icons/cloud.png)"></div>
<div class="page-title_cloud-two" style="background-image:url(assets/images/icons/cloud-1.png)"></div>
<div class="page-title_pattern" style="background-image:url(assets/images/background/pattern-3.png)"></div>
<div class="page-title_gradient"></div>
<div class="auto-container">
    <h2>About Us</h2>
    <ul class="bread-crumb clearfix">
        <li><a href="index.html"><i class="fa-solid fa-house fa-fw"></i> Home</a></li>
        <li>About Us</li>
    </ul>
</div>
</section>
<!-- End Page Title -->

	<!-- Story One -->
	<section class="story-three">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="story-three_image-column col-lg-6 col-md-12 col-sm-12">
					<div class="story-three_image-outer wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="story-three_pattern" style="background-image:url()"></div>
						<span class="story-three_color" style="background-image: url(https://images.unsplash.com/photo-1565953522043-baea26b83b7e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fHJlYWwlMjBlc3RhdGV8ZW58MHx8MHx8fDA%3D);"></span>
						<div class="row clearfix">
							<div class="column col-lg-7 col-md-6 col-sm-6">
								<div class="story-three_image">
									<img src="https://img.freepik.com/free-photo/vertical-shot-white-building-clear-sky_181624-4575.jpg?w=360" alt="" />
								</div>
							</div>
							<div class="column col-lg-5 col-md-6 col-sm-6">
								<div class="story-three_image">
									<img src="https://images.unsplash.com/photo-1448630360428-65456885c650?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cHJvcGVydHl8ZW58MHx8MHx8fDA%3D" alt="" />
								</div>
								<div class="story-three_clients">
									<div class="story-three_inner">
										<i class="flaticon-rating"></i>
										Client Centric Approach
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="story-three_content-column col-lg-6 col-md-12 col-sm-12">
					<div class="story-three_content-outer">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="sec-title_title">Discover Our Story</div>
							<h2 class="sec-title_heading">Unveiling Palace  Real Estate Journey</h2>
						</div>
						
						<!-- Story Tabs -->
						<div class="story-tabs">
							<!-- Story Tabs -->
							<div class="story-tab tabs-box">
								
								<!-- Tab Btns -->
								<ul class="tab-btns tab-buttons clearfix">
									<li data-tab="#prod-mission" class="tab-btn active-btn">Mission</li>
									<li data-tab="#prod-vission" class="tab-btn">Vission</li>
									<li data-tab="#prod-goal" class="tab-btn">Goal</li>
								</ul>
								
								<!-- Tabs Container -->
								<div class="tabs-content">
									
									<!-- Tab -->
									<div class="tab active-tab" id="prod-mission">
										<div class="content">
											<div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.  Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</div>
											<ul class="story-three_checklist">
												<li><i class="flaticon-checked"></i>  Pellentesque sit amet sapien fringilla.</li>
												<li><i class="flaticon-checked"></i> Consectetur adipiscing elit Ut et massa.</li>
											</ul>
										</div>
									</div>
									
									<!-- Tab -->
									<div class="tab" id="prod-vission">
										<div class="content">
											<div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.  Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</div>
											<ul class="story-three_checklist">
												<li><i class="flaticon-checked"></i>  Pellentesque sit amet sapien fringilla.</li>
												<li><i class="flaticon-checked"></i> Consectetur adipiscing elit Ut et massa.</li>
											</ul>
										</div>
									</div>
									
									<!-- Tab -->
									<div class="tab" id="prod-goal">
										<div class="content">
											<div class="text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur, ultrices mauris.  Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</div>
											<ul class="story-three_checklist">
												<li><i class="flaticon-checked"></i>  Pellentesque sit amet sapien fringilla.</li>
												<li><i class="flaticon-checked"></i> Consectetur adipiscing elit Ut et massa.</li>
											</ul>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Story One -->

<!-- Services One -->
<section class="services-one style-two">
<div class="auto-container">
    <!-- Sec Title -->
    <div class="sec-title centered">
        <div class="sec-title_title">Our Services</div>
        <h2 class="sec-title_heading">Take a stroll around <br> surroundings.</h2>
    </div>
    <div class="row clearfix">
    
        <!-- Service Block One -->
        <div class="service-block_one col-lg-4 col-md-6 col-sm-12">
            <div class="service-block_one-inner" style=" box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">
                <div class="service-block_one_image" style="background-color: #5e23dc"></div>
                <div class="service-block_one-icon">
                    <i class="flaticon-building"></i>
                </div>
                <h4 class="service-block_one-heading"><a href="service-detail.html">Building <br> Construction</a></h4>
                <div class="service-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
                <a class="service-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
            </div>
        </div>
        
        <!-- Service Block One -->
        <div class="service-block_one col-lg-4 col-md-6 col-sm-12">
            <div class="service-block_one-inner" style=" box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">
                <div class="service-block_one_image" style="background-color: #5e23dc"></div>
                <div class="service-block_one-icon">
                    <i class="flaticon-interior-design"></i>
                </div>
                <h4 class="service-block_one-heading"><a href="service-detail.html">Interior <br> designing</a></h4>
                <div class="service-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
                <a class="service-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
            </div>
        </div>
        
        <!-- Service Block One -->
        <div class="service-block_one col-lg-4 col-md-6 col-sm-12">
            <div class="service-block_one-inner" style=" box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">
                <div class="service-block_one_image" style="background-color: #5e23dc"></div>
                <div class="service-block_one-icon">
                    <i class="flaticon-building-1"></i>
                </div>
                <h4 class="service-block_one-heading"><a href="service-detail.html">General <br> Construction</a></h4>
                <div class="service-block_one-text">Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna.</div>
                <a class="service-block_one-more" href="blog-detail.html">Read More <i class="flaticon-next-1"></i></a>
            </div>
        </div>
        
    </div>
</div>
</section>
<!-- End Services One -->




<%- include('./footer.ejs')  %>

