<!-- Main Footer -->
<footer class="main-footer">
    <div class="main-footer_pattern">
    </div>
    <!-- Widgets Section -->
    <div class="widgets-section">
        <div class="auto-container">
            <div class="upper-box">
                <div class="row clearfix">
                    <!-- Column -->
                    <div class="column col-lg-4 col-md-12 col-sm-12">
                        <div class="logo-box">
                            <div class="logo"><a href="/home"><!--<img src=""  width="50%" alt="" title="" > -->
                                    <h3 style="align-items: center;color: white;">REAL <span
                                            style="color: #5e23dc;;">E-STATE</span>
                                    </h3>
                                </a></div>

                        </div>
                    </div>
                    <!-- Column -->
                    <div class="column col-lg-8 col-md-12 col-sm-12">
                        <!-- Newsletter Box -->
                        <div class="newsletter-box_two">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <i class="icon flaticon-mail"></i>
                                    <input type="email" name="search-field" value="" placeholder="Your Email" required>
                                    <button type="submit">Search Now<i class="flaticon-bell"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer_column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h5 class="footer-title">Contact Info</h5>
                                <ul class="footer-contact_list">
                                    <li>
                                        <span class="flaticon-pin"></span>
                                        EE DeenDayal Nagar, <br> Gwalior,India
                                    </li>
                                    <li>
                                        <span class="flaticon-telephone"></span>
                                        <a href="tel:+815-804-8928">764-982-8482</a>
                                    </li>
                                    <li>
                                        <span class="flaticon-mail-1"></span>
                                        <a href="mailto:support@palace.com">Somyagour14@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer_column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5 class="footer-title">Our Company</h5>
                                <ul class="footer-list">
                                    <li><a href="#">Terms of Use</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <!-- <li><a href="#">Pricing Plan</a></li> -->
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <!-- <li><a href="#">FAQS</a></li> -->
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Big Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">

                        <!-- Footer Column -->
                        <div class="footer_column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5 class="footer-title">Discover Cities</h5>
                                <ul class="footer-list">
                                    <li><a href="#">Gwalior</a></li>
                                    <!-- <li><a href="#">Agra</a></li> -->
                                    <li><a href="#">Bhopal</a></li>
                                    <li><a href="#">Shrinagar</a></li>
                                    <!-- <li><a href="#">Indor</a></li> -->
                                    <li><a href="#">Hydrabad</a></li>
                                    <li><a href="#">Mumbai</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Footer Column -->
                        <div class="footer_column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget gallery-widget">
                                <h5 class="footer-title">Gallery</h5>
                                <div class="images-outer clearfix">
                                    <!--Image Box-->
                                    <figure class="image-box">
                                        <a class="lightbox-image" href="">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqOzkgDJDf4aG4UyDzpUwNtGpewFhzRiK8Gg&s"
                                                alt="">
                                        </a>
                                    </figure>
                                    <!--Image Box-->
                                    <figure class="image-box"><a class="lightbox-image"
                                            href="/assets/images/gallery/gallery-2.png"><img
                                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCe-NG-sjLjXmFRyHZctw1uSujB6x8kNUwqw&s"
                                                alt=""></a></figure>
                                    <!--Image Box-->
                                    <figure class="image-box"><a class="lightbox-image"
                                            href="/assets/images/gallery/gallery-3.png"><img
                                                src="assets/images/gallery/gallery-3.png" alt=""></a></figure>
                                    <!--Image Box-->
                                    <figure class="image-box"><a class="lightbox-image"
                                            href="/assets/images/gallery/gallery-4.png"><img
                                                src="assets/images/gallery/gallery-4.png" alt=""></a></figure>
                                    <!--Image Box-->
                                    <figure class="image-box"><a class="lightbox-image"
                                            href="/assets/images/gallery/gallery-5.png"><img
                                                src="assets/images/gallery/gallery-5.png" alt=""></a></figure>
                                    <!--Image Box-->
                                    <figure class="image-box"><a class="lightbox-image"
                                            href="/assets/images/gallery/gallery-6.png"><img
                                                src="assets/images/gallery/gallery-6.png" alt=""></a></figure>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- End Widgets Section -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <!-- <div class="copyright">Copyright &copy; 2024 <a href="#">Palace</a> All Rights Reserved</div> -->

                <!-- Social Box -->
                <div class="footer_socials">
                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                </div>

                <ul class="footer-bottom_nav">
                    <li><a href="#">Term & Condition</a></li>
                    <li><a href="#">Policy & Privacy </a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>
<!-- End Main Footer -->

<!-- Search Popup -->
<div class="search-popup">
    <div class="color-layer"></div>
    <button class="close-search"><span class="flaticon-close"></span></button>
    <form method="post" action="blog.html">
        <div class="form-group">
            <input type="search" name="search-field" value="" placeholder="Search Here" required="">
            <button class="fa fa-solid fa-magnifying-glass fa-fw" type="submit"></button>
        </div>
    </form>
</div>
<!-- End Search Popup -->

<!-- Sidebar Cart Item -->
<div class="xs-sidebar-group info-group">
    <div class="xs-overlay xs-bg-black"></div>
    <div class="xs-sidebar-widget">
        <div class="sidebar-widget-container">
            <div class="close-button">
                <span class="fa-solid fa-xmark fa-fw"></span>
            </div>
            <div class="sidebar-textwidget">

                <!-- Sidebar Info Content -->
                <div class="sidebar-info-contents">
                    <div class="content-inner">

                        <!-- Title Box -->
                        <div class="title-box">
                            <h5>Explore Featured <span>Properties</span></h5>
                            <div class="price">$500,000 from free economy shipping</div>
                        </div>

                        <!-- Empty Cart Box -->
                        <div class="empty-cart-box">
                            <!-- No Product -->
                            <div class="no-cart">
                                <span class="icon fa-solid fa-cart-flatbed-suitcase fa-fw"></span>
                                No products in cart.
                            </div>
                        </div>

                        <!-- Lower Box -->
                        <div class="lower-box">
                            <h5>Popular <span>Suggestions</span></h5>

                            <!-- Post Block -->
                            <div class="post-block">
                                <div class="inner-box">
                                    <div class="image">
                                        <img src="/assets/images/resource/post-thumb-1.jpg" alt="" />
                                    </div>
                                    <h6><a href="#">Dreams Villa</a></h6>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="price-box">$225,000</div>
                                    <a class="theme-btn bag-btn" href="#">add to bag</a>
                                </div>
                            </div>

                            <!-- Post Block -->
                            <div class="post-block">
                                <div class="inner-box">
                                    <div class="image">
                                        <img src="/assets/images/resource/post-thumb-2.jpg" alt="" />
                                    </div>
                                    <h6><a href="#">Small Flats</a></h6>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="price-box">$350,000</div>
                                    <a class="theme-btn bag-btn" href="#">add to bag</a>
                                </div>
                            </div>

                            <!-- Post Block -->
                            <div class="post-block">
                                <div class="inner-box">
                                    <div class="image">
                                        <img src="/assets/images/resource/post-thumb-3.jpg" alt="" />
                                    </div>
                                    <h6><a href="#">House luxury</a></h6>
                                    <div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <div class="price-box">$150,000</div>
                                    <a class="theme-btn bag-btn" href="#">add to bag</a>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
<!-- End PageWrapper -->

<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>


<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/appear.js"></script>
<script src="/assets/js/parallax.min.js"></script>
<script src="/assets/js/tilt.jquery.min.js"></script>
<script src="/assets/js/jquery.paroller.min.js"></script>
<script src="/assets/js/wow.js"></script>
<script src="/assets/js/swiper.min.js"></script>
<script src="/assets/js/backtotop.js"></script>
<script src="/assets/js/odometer.js"></script>
<script src="/assets/js/parallax-scroll.js"></script>

<script src="/assets/js/gsap.min.js"></script>
<script src="/assets/js/SplitText.min.js"></script>
<script src="/assets/js/ScrollTrigger.min.js"></script>
<script src="/assets/js/ScrollToPlugin.min.js"></script>
<script src="/assets/js/ScrollSmoother.min.js"></script>

<script src="/assets/js/magnific-popup.min.js"></script>
<script src="/assets/js/jquery.meanmenu.min.js"></script>
<script src="/assets/js/nav-tool.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/js/validate.js"></script>
<script src="/assets/js/jquery.countdown.js"></script>
<script src="/assets/js/element-in-view.js"></script>
<script src="/assets/js/script.js"></script>


</body>

</html>